		<div class="jumbotron">
			
					<h1>JPlug</h1>
			
					<p>Jplug is a web based Java development environment. Its purpose is to allow  Java development on the browser without installing JDK on the user device. Using Jplug any device that supports a browser (smart phone, tablet, phablet etc) can be used for Java development. 
It provides an browser based editor to type in java programs, options to compile and execute the program, console window to display the output and errors. Code is compiled and executed on the server, its output is displayed on the client device in a browser console.
Users have the option of creating their folders on the server for storing their source code and compiled classes and downloading them to their device. 
Jplug also contains built in library of jar files of common components and frameworks such as jdbc, hibernate, spring etc so that users can develop and test applications using these frameworks.
To facilitate learning through collaboration, Jplug supports a user forum for sharing views of users and seeking solutions of problems. If a user faces some problem during development, he/she can post it on the forum and can expect solutions from other members and moderators.
					</p>		
				</div>