<div class="container-fluid">
<div class="row-fluid">
	<!--footer starts  -->	
	<div class="col-md-2"><a href="#">
	
		<img src="images/jplug-logo-small.png" alt="JPlug" ></a>
	
	</div>
	
	<div class="col-md-5 col-md-offset-1">
	
	<br/>
	
	Copyright 2015 Swarnim Infosoft. All Rights Reserved.</div>
	
	<div class="col-md-4 pull-right">
<br/>
		
		<div class="btn-toolbar">

			<div class="btn-group">

				<a class="btn" href="#">
				<span class="glyphicon glyphicon-home">&nbsp;Home&nbsp;</span></a>
		
				<a class="btn" href="aboutjplug.action"><span class="glyphicon glyphicon-info-sign">&nbsp;About&nbsp;</span></a>
		
				<a class="btn" href="#"><span class="glyphicon glyphicon-envelope">&nbsp;Contact&nbsp;</span></a>
		
			</div>
		
		</div>
	
	</div>		
	</div>	
	</div>