<div class="container">
<div class="col-md-6">
<div class="panel panel-primary">
<div class="panel-heading">
<p class="panel-title">Existing User Login</p>
</div>
<div class="panel-body">
	<div class="container-fluid">
	<form action="login.action" class="form-horizontal">
	<div class="form-group">
	<label for="userId" class="control-label">userId</label>
	<input type="text" name="userId" placeholder="userId" class="form-control">
	</div>
	<div class="form-group">
	<label for="password" class="control-label">Password</label>
	<input type="password" name="password" placeholder="Password" class="form-control">
	</div>
	<div>
	<a href="newUser.action">new user sign up</a>
	</div>
	<div class="pull-right">
	<button type="submit" class="btn btn-primary btn-lg">Login</button>
	</div>
	</form>
	</div>
	</div>
	</div>
	</div>
	</div>
	
	
	
	
